.headline {
  background-color: antiquewhite;
}

.sideline {
  background-color: lightblue;
  text-align: left;
  color: black;
}

a {
  color: black;
  text-decoration: underline;
}

.portfolio {
  background-color: antiquewhite;
  border: 10px solid lightblue;
  margin-top: 5%;
}

#picture1 {
  max-width: 80%;
  height: auto;
  margin: 20px;
  width: auto;
}

#picture2 {
  max-width: 80%;
  height: auto;
  margin: 20px;
  width: auto;
}

#picture3 {
  max-width: 80%;
  height: auto;
  margin: 20px;
  width: auto;
}

#picture4 {
  max-width: 80%;
  height: auto;
  margin: 20px;
  width: auto;
}

.hyperlink {
  text-align: center;
}

#container-head {
  margin: 20px;
  text-align: center;
}

.top-half {
  margin-top: 5%;
}

.last-half {
  margin-bottom: 10%;
}

body {
  background-image: "blue.png";
}
